body{

    background-image: url("images/wallpaper.jpeg"); 
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.slideshow {
    width: 800px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
    margin-top: 5%;
    margin-left: 28%;
}

#presentation_index { 
    text-align: center; 
    padding: 0; 
    margin: 0; 
}

.slideshow ul {
    width: 400%;
    height: 200px;
    padding:0; margin:0;
    list-style: none;
}
.slideshow li {
    float: left;
}

.plan_site {
    margin-top: 7%;
    margin-left: 34%;
    border: 1px solid #010101;
}

.FemmeTel {
    margin-top: 7%;
    margin-left: 30%;
    border: 1px solid #010101;
}

.textePlanSite {
    margin-top: 1%;
    margin-left: 35%;
    border: 1px solid #010101;
    font-size: x-large;
    width:540px;
    height:40px;
    background-color:#FEFEFE;
}

#ContactPara {
    margin-top: -14%;
    margin-left: 45%;
    border: 1px solid #010101;
    font-size: x-large;
    width:570px;
    height:250px;
    background-color:#FEFEFE;
}
.titre{
    text-align: center;
}

.sous_titre {
    text-align: center;
    margin-left: 29%;
}

.index{
    text-align: center;
    margin-top: 1%;
    margin-left: 30%;
    border: 1px solid white;
    font-size: x-large;
    width:50%;
    height:10%;
    background-color:black;
    color: white;
}

.faq{
    text-align: center;
    margin-top: 1%;
    margin-left: 30%;
    border: 1px solid white;
    font-size: x-large;
    width:50%;
    height:10%;
    background-color:black;
    color: white;
}

#login{
    position: absolute;
    margin: -6% 1% 1% 80%;
}

#regist{

    margin-top: 7%;
    text-align: center;
}

#louer{

    margin-top: 7%;
    text-align: center;
}

#location
{
    margin-top: 7%;
    text-align: center;
}

#m5 {

    position: absolute;
}


.logo {

    text-align: center;
    margin-left: 10%
}

#logo-page-audi {
    text-align: center;
}

.fiche-technique {
    margin-right:  8%;
}

.audi {
    margin-right: 1.5%;
}

.bmw {
    margin-right: 1.5%;
}

#bmw-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 1% 10% 100% 30%;
}

#audi-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 5% 10% 100% 50%;
}

#mini-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 20% 10% 100% 25%
}

#nissan-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 20% 10% 100% 55%;
}


#logo-page-mini {
    text-align: center;
}

#logo-page-nissan {
    margin-top: 2%;
    margin-left: 35%;
}

#nissan-gtr {
    margin-top: 4%;
    text-align: center;
}

#menu-principal, #menu-principal ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
}
#menu-principal li{
    display:inline-block;
    position:relative;
    border-radius:8px 8px 0 0;
}
#menu-principal ul li{
    display:inherit;
    border-radius:0;
}
#menu-principal ul li:hover{
    border-radius:0;
}
#menu-principal ul li:last-child{
    border-radius:0 0 8px 8px;
}
#menu-principal ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}
#menu-principal li:hover ul{
    max-height:15em;
}
/* background des liens menus */
#menu-principal li:first-child{
    background-color: #65537A;
    background-image:-webkit-linear-gradient(top, #808080 0%, #808080 100%);
    background-image:linear-gradient(to bottom, #808080 0%, #393C3C 100%);
}
#menu-principal li:nth-child(2){
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image:linear-gradient(to bottom, #808080 0%, #393C3C 100%);
}
#menu-principal li:nth-child(3){
    background-color: #F6AD1A;
    background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
    background-image:linear-gradient(to bottom, #808080 0%, #393C3C 100%);
}
#menu-principal li:last-child{
    background-color: #CFFF6A;
    background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
    background-image:linear-gradient(to bottom, #808080 0%, #393C3C 100%);
}
/* background des liens sous menus */
#menu-principal li:first-child li{
    background:#393C3C;
}
#menu-principal li:nth-child(2) li{
    background:#393C3C;
}
#menu-principal li:nth-child(3) li{
    background:#393C3C;
}
#menu-principal li:last-child li{
    background:#393C3C;
}
/* background des liens menus et sous menus au survol */
#menu-principal li:first-child:hover, #menu-principal li:first-child li:hover{
    background:#8E8E8E;
}
#menu-principal li:nth-child(2):hover, #menu-principal li:nth-child(2) li:hover{
    background:#8E8E8E;
}
#menu-principal li:nth-child(3):hover, #menu-principal li:nth-child(3) li:hover{
    background:#8E8E8E;
}
#menu-principal li:last-child:hover, #menu-principal li:last-child li:hover{
    background:#8E8E8E;
}
/* les a href */
#menu-principal a{
    text-decoration:none;
    display:block;
    padding:19px 143px;
    color:#fff;
    font-family:arial;
    font-size: 20px;
}
#menu-principal ul a{
    padding:8px 0;
}
#menu-principal li:hover li a{
    color:#fff;
    text-transform:inherit;
}
#menu-principal li:hover a, #menu-principal li li:hover a{
    color:#000;
}



.message
{
    text-color: red;
    text-align: center;
}

.bouton
{
    height: 50px;
    background-color: #4AB1DE;
    color: black;
    float: center;
}

.boutonCommander
{
    height: 30px;
    background-color: #4AB1DE;
    color: black;
    text-align: center;
}