body{
    
    background-image: url("images/wallpaper.jpeg"); 
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.slideshow {
   width: 800px;
   height: 400px;
   overflow: hidden;
   border: 1px solid #F2F2F2;
   margin-top: 10%;
   margin-left: 28%;
}

.slideshow ul {
   width: 400%;
   height: 200px;
   padding:0; margin:0;
   list-style: none;
}
.slideshow li {
   float: left;
}

.titre{
    text-align: center;
}

#login{
    position: absolute;
    margin: -6% 1% 1% 80%;
}

#regist{

    margin-top: 7%;
    text-align: center;
}

#louer{

    margin-top: 7%;
    text-align: center;
}

#location
{
	margin-top: 7%;
    text-align: center;
}

#m5 {

    position: absolute;
}


.logo {

    text-align: center;
    margin-left: 10%
}

#logo-page-audi {
    text-align: center;
}

.fiche-technique {
    margin-right:  8%;
}

.audi {
    margin-right: 1.5%;
}

.bmw {
    margin-right: 1.5%;
}

#bmw-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 1% 10% 100% 9%;
}

#audi-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 5% 10% 100% 30%;
}

#mini-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 20% 20% 10% 1%;
}

#nissan-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 20% 10% 100% 33%;
}


#logo-page-mini {
    text-align: center;
}

#logo-page-nissan {
    margin-left: 35%;
}

#menu-demo2, #menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu-demo2 li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu-demo2 ul li{
display:inherit;
border-radius:0;
}
#menu-demo2 ul li:hover{
border-radius:0;
}
#menu-demo2 ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-demo2 li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu-demo2 li:first-child{
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #808080 0%, #808080 100%);
background-image:linear-gradient(to bottom, #808080 0%, #393C3C 100%);
}
#menu-demo2 li:nth-child(2){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #808080 0%, #393C3C 100%);
}
#menu-demo2 li:nth-child(3){
background-color: #F6AD1A;
background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #808080 0%, #393C3C 100%);
}
#menu-demo2 li:last-child{
background-color: #CFFF6A;
background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
background-image:linear-gradient(to bottom, #808080 0%, #393C3C 100%);
}
/* background des liens sous menus */
#menu-demo2 li:first-child li{
background:#393C3C;
}
#menu-demo2 li:nth-child(2) li{
background:#393C3C;
}
#menu-demo2 li:nth-child(3) li{
background:#393C3C;
}
#menu-demo2 li:last-child li{
background:#393C3C;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#8E8E8E;
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#8E8E8E;
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#8E8E8E;
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
background:#8E8E8E;
}
/* les a href */
#menu-demo2 a{
text-decoration:none;
display:block;
padding:19px 143px;
color:#fff;
font-family:arial;
font-size: 20px;
}
#menu-demo2 ul a{
padding:8px 0;
}
#menu-demo2 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:#000;
}



.message
{
	text-color: red;
	text-align: center;
}

.bouton
{
	height: 50px;
	background-color: #4AB1DE;
	color: black;
	float: center;
}

.boutonCommander
{
	height: 30px;
	background-color: #4AB1DE;
	color: black;
	text-align: center;
}